<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetWorking2.X源码阅读.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DCA5C041DC6D3D0004E14F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DCA5C1D1DC6D3D1004E14F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DCA5C281DC6D3D1004E14F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
