<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YYSeriesStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DD8AD151D1CAAB10028D1B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DD8AD2E1D1CAAB10028D1B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DD8AD391D1CAAB10028D1B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
